:root {
    --card-width: 200px;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr min(42rem, 100%) 1fr;
}

header {
    border: 1px solid black;
    padding: 1rem;
    grid-column: 2 / -2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header-image {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 15rem;
}

.header-about-container {
    flex-basis: 15rem;
    padding: 0.5rem;
    flex-shrink: 1;
    flex-grow: 1;
}

.header-title {
    border: 1px solid red;
    flex-basis: 5rem;
    padding: 0.5rem;
}

.header-paragraph {
    padding: 1rem;
}

.header-links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0.5rem;
}

.header-link-icon {
    max-width: 1.5rem;
}

footer {
    border: 1px solid black;
    grid-column: 2 / -2;
}

main {
    border: 1px solid black;
    grid-column: 2 / -2;
    max-width: 64rem;
    padding: 5px;

    display: grid;
    grid-template-columns: var(--card-width);
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));

    gap: 1rem;
}

footer {
    border: 1px solid black;
    grid-column: 2 / -2;
}

.full-bleed {
    grid-column: 1 / -1;
}

.card {
    border: 1px solid green;
    flex-basis: var(--card-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.card > img {
    object-fit: contain;
}

.card-thumbnail {
    grid-column: 1 / -1;
    width: 100%;
}

.card > h1 {
    grid-column: 1 / 2;
    justify-self: start;
    align-self: center;
    padding: 0.5rem;
}

.card-container-icons {
    grid-column: -1 / -2;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2px;
}

.card-icon {
    border: 1px solid red;
    max-width: 1.5rem;
}

.card > p {
    grid-column: 1 / -1;
    align-self: start;
    padding: 0.5rem;
}

h1 {
    font-size: 1.1rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-detail-wrapper {
}

.footer-detail-wrapper > * {
    padding: 0.5rem;
}

.footer-item {
}

.footer-phone-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.footer-email-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.footer-icon {
    max-width: 1.5rem;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}
